<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application
            android:label="Manga Tracker"
            android:icon="@mipmap/ic_launcher"
            android:name="${applicationName}"
            tools:replace="android:label" />
</manifest>
